/* CARDS */
.card {
    width:400px;
}

/* INPUT */
#input {
    position: fixed;
    overflow:auto;
}

#label-keyword {
    font-size: 20px;
}

#slider_label {
    font-size: 20px;
}

#city_select {
    font-size: 20px;
}
#city_select option {
    font-size: 20px;
}
#output-doc {
    font-size: 20px;
}
#input-doc {
    font-size: 20px;
}

